html {
  box-sizing: border-box;
  background-color: $background-white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: $text-color-white;
  text-decoration: none;
}