html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f5f5f5;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: #f5f5f5;
  text-decoration: none;
}

.page {
  color: #272727;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: relative;
  background: #272727;
  color: #f5f5f5;
  text-align: center;
  position: relative;
  padding: 1.2rem .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  z-index: 2;
}

.header__title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Uncial Antiqua", sans-serif;
  font-size: 1.45rem;
  color: #f5f5f5;
}

.header__link-name {
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 10rem;
  color: #363636;
  margin: .75rem 0;
  z-index: -1;
  left: -2rem;
  top: -2.5rem;
}

.nav {
  margin-top: 1.2rem;
}

.nav__link {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  font-family: "Oswald", sans-serif;
  background-color: #1d1d1d;
  width: 6rem;
  padding: .25rem 0;
  margin: 0 .25rem;
}

.nav__link:hover {
  background-color: #161616;
}

.quest {
  padding: 1.2rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 2;
}

.quest__btn {
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  font-family: "Oswald", sans-serif;
  background-color: #e4e4e4;
  width: 10rem;
  padding: .25rem 0;
  margin-bottom: 1.2rem;
  border: none;
}

.quest__btn:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.quest__item {
  margin-bottom: 1.2rem;
}

.quest__item--done {
  color: #777;
}

.quest__title {
  font-weight: 700;
  font-size: 1.2rem;
}

.quest__date {
  font-size: .8rem;
}

.quest__text {
  margin: .5rem 0 .75rem 0;
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.image {
  position: fixed;
  background: url("") no-repeat top;
  background-size: cover;
  height: 300px;
  width: 300px;
  bottom: -2rem;
  right: -10rem;
  opacity: .15;
  z-index: 1;
}

.notes {
  padding: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.notes__btn {
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  font-family: "Oswald", sans-serif;
  background-color: #e4e4e4;
  width: 10rem;
  padding: .25rem 0;
  margin-bottom: 1.2rem;
  border: none;
}

.notes__btn:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.notes__btn--remove-all {
  color: #f5f5f5;
  background-color: #af3f57;
}

.notes__btn--remove-all:hover {
  background-color: #9e2e46;
  cursor: pointer;
}

.notes__item {
  margin-bottom: 1.2rem;
}

.notes__title {
  font-weight: 700;
  font-size: 1.2rem;
}

.notes__date {
  font-size: .8rem;
}

.notes__text {
  margin: .5rem 0 .75rem 0;
}

.addnote {
  margin-bottom: 1.2rem;
}

.addnote__title {
  font-size: 1.2rem;
}

.form {
  margin-top: .75rem;
}

.form__title {
  display: block;
  margin: .25rem 0;
}

.form__input {
  margin-bottom: .75rem;
  border: none;
  border-bottom: 1px solid #777;
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  height: 1.2rem;
  width: 17.5rem;
}

.form__text {
  border: none;
  border-bottom: 1px solid #777;
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  height: 1.2rem;
  width: 17.5rem;
}

.form__btn {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  font-family: "Oswald", sans-serif;
  background-color: #e4e4e4;
  width: 10rem;
  padding: .25rem 0;
  margin: .75rem 0 1.2rem 0;
  border: none;
}

.form__btn:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.form__alert {
  color: #af3f57;
}

.bestiary {
  padding: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.bestiary__btn {
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  font-family: "Oswald", sans-serif;
  background-color: #e4e4e4;
  width: 10rem;
  padding: .25rem 0;
  margin-bottom: 1.2rem;
  border: none;
}

.bestiary__btn:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.bestiary__item {
  margin-bottom: 1.2rem;
}

.bestiary__item--done {
  color: #777;
}

.bestiary__title {
  font-weight: 700;
  font-size: 1.2rem;
}

.bestiary__date {
  font-size: .8rem;
}

.bestiary__text {
  margin: .5rem 0 .75rem 0;
}

.bestiary__stat {
  font-weight: 700;
  color: #af3f57;
}

.bestiary__stats {
  margin-bottom: 2.4rem;
}

.page {
  background-color: #f5f5f5;
}
/*# sourceMappingURL=main.css.map */