$primary-color: #272727;
$secondary-color: #af3f57;
$background-black: #272727;
$background-white: #f5f5f5;
$loading-squares: #6ed699;

$text-color-title: #f5f5f5;
$text-color-white: #f5f5f5;
$text-color-black: #272727;
$text-color-link: #e4e4e4;

$inactive: #777;
$input-border: #777;

$button-background-black: #1d1d1d;
$button-background-white: #e4e4e4;
$button-background-delete: #af3f57;
$button-hover-black: #0c0c0c;
$button-hover-white: #d3d3d3;
$button-hover-delete: #9e2e46;

$base-font-family: 'Montserrat', sans-serif;
$title-font-family: 'Montserrat', sans-serif;
$ui-font-family: 'Roboto Condensed', sans-serif;

html {
  box-sizing: border-box;
  background-color: $background-white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
}

a {
  color: $text-color-white;
  text-decoration: none;
}

.page {
  color: $primary-color;
  font-family: $base-font-family;
}